@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* //import a maths font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import poppins */

:root {

    line-height: 1.5;
    font-weight: 400;


    color: rgba(0, 0, 0, 0.87);
    background-color: #ffffff;

    font-family: "Poppins", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
    box-sizing: border-box;
  }
  
  .editor {
    border: 1px solid #aaa;
    padding: 10px;
  }
  
  .equation-wrapper {
    position: relative;
    margin: 5px 10px 10px;
    border: 3px solid #cceeff;
    display: inline-block;
  }
  
  .equation-wrapper-raw {
    font-family: monospace;
    white-space: pre-wrap;
    display: inline-block;
    margin: 10px 10px 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 4px 6px;
    background: #eee;
  }
  
  .equation-wrapper-raw:empty:before {
    content: " ";
  }
  
  textarea.equation-wrapper-raw {
    min-width: 300px;
    min-height: 160px;
    resize: none;
    background: white;
  }
  
  .size-control {
    margin-left: 10px;
  }
  